
@model REP001.Comun.BO.Person

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>

    <div>
       @* @Html.Action("PersonInfoPhoto","Person")*@
   @*   @Html.Partial("PersonInfo")*@
    </div>
    <legend>Person</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateBird)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateBird)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Age)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Age)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

     <div class="display-label">
         @Html.DisplayNameFor(model => model.ImgDir)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImgDir)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
