@model REP001.Comun.BO.Employee

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Employee</legend>

        <div>
             @Html.Action("PersonSearchPartial")  

            @Html.HiddenFor(model => model.Person.ID, new { id = "hdPerson" })
        </div>
      <br />
        <div class="editor-label">
            @Html.LabelFor(model => model.PayMent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PayMent)
            @Html.ValidationMessageFor(model => model.PayMent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Position)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Position)
            @Html.ValidationMessageFor(model => model.Position)
        </div>

        <p>
            <input type="submit" value="Create" id="btnsubmit" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/ecmascript">
    $(function () {
        $('#btnsubmit').on('click', function (e) {
            e.preventDefault();
             
            var selected = $('select[id$=ddlperson] :selected').val();

            var hdperson = $('#hdPerson');
                hdperson.val(selected);

            console.log(selected);
            console.log(hdperson);

            return true;
        });

       
    });
</script>
